<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.june.studyproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 照相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.app.StudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.june.studyproject.expand.thread.ThreadPoolActivityBasic" />
        <activity android:name=".component.service.ServiceActivityBasic" />
        <activity android:name="com.june.studyproject.library.rxjava.RxJavaActivity" />
        <activity android:name=".component.activity.index.ExampleActivity" />
        <activity android:name=".expand.image.box.ImageBoxListActivityBasic" />
        <activity android:name=".component.activity.lifecycle.LifecycleActivityBasic" />
        <activity android:name=".component.activity.lifecycle.LifecycleSecondActivityBasic" />
        <activity android:name=".expand.image.box.BoxImageActivityBasic" />
        <activity android:name=".expand.image.box.ImageBoxActivityBasic" />
        <activity android:name=".component.fragment.FragmentActivityBasic" />
        <activity android:name=".component.fragment.lifecycle.FragmentLifecycleActivityBasic" />

        <activity
            android:name=".expand.image.watcher.ImageWatchActivityBasic"
            android:theme="@style/TransparentStyleTheme" />
        <activity android:name=".component.recycler.RecyclerActivityBasic" />
        <activity android:name=".component.recycler.custom.CustomLayoutManagerActivityBasic" />
        <activity android:name=".expand.image.box.ImageBoxLayoutActivityBasic" />
        <activity android:name=".expand.image.watcher.ImageDragLayoutActivityBasic" />
        <activity android:name=".component.recycler.ItemDecorationActivityBasic" />
        <activity android:name=".component.recycler.rvadapter.normal.NormalListActivityBasic" />
        <activity android:name=".component.recycler.rvadapter.RecyclerViewAdapterActivityBasic" />
        <activity android:name=".library.okhttp.OkHttpActivityBasic" />
        <activity android:name=".library.okhttp.DownloadActivityBasic" />
        <activity android:name=".expand.zip.UnzipActivityBasic" />
        <activity android:name=".component.permission.PermissionsActivityBasic" />

        <service android:name=".component.service.TestBindService" />
    </application>

</manifest>