<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.june.studyproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 照相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.app.StudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.june.studyproject.expand.thread.ThreadPoolActivity" />
        <activity android:name=".component.service.ServiceActivity" />
        <activity android:name="com.june.studyproject.library.rxjava.RxJavaActivity" />
        <activity android:name=".component.activity.index.ExampleActivity" />
        <activity android:name=".expand.image.box.ImageBoxListActivityBasic" />
        <activity android:name=".component.activity.lifecycle.LifecycleActivity" />
        <activity android:name=".component.activity.lifecycle.LifecycleSecondActivity" />
        <activity android:name=".expand.image.box.BoxImageActivityBasic" />
        <activity android:name=".expand.image.box.ImageBoxActivity" />
        <activity android:name=".component.fragment.FragmentActivity" />
        <activity android:name=".component.fragment.lifecycle.FragmentLifecycleActivity" />

        <activity
            android:name=".expand.image.watcher.ImageWatchActivity"
            android:theme="@style/TransparentStyleTheme" />
        <activity android:name=".component.recycler.RecyclerActivity" />
        <activity android:name=".component.recycler.custom.CustomLayoutManagerActivity" />
        <activity android:name=".expand.image.box.ImageBoxLayoutActivity" />
        <activity android:name=".expand.image.watcher.ImageDragLayoutActivity" />
        <activity android:name=".component.recycler.ItemDecorationActivity" />
        <activity android:name=".component.recycler.rvadapter.normal.NormalListActivity" />
        <activity android:name=".component.recycler.rvadapter.RecyclerViewAdapterActivity" />
        <activity android:name=".library.okhttp.OkHttpActivity" />
        <activity android:name=".library.okhttp.DownloadActivity" />
        <activity android:name=".expand.zip.UnzipActivityBasic" />
        <activity android:name=".component.permission.PermissionsActivity" />
        <activity android:name=".expand.loading.LoadingActivity" />
        <activity android:name=".component.dialogfragment.DialogFragmentActivity" />
        <activity android:name=".component.camera.CameraActivity" />
        <activity android:name=".component.recycler.rvadapter.custom.CustomMultiAdapterActivity" />

        <service android:name=".component.service.TestBindService" />
    </application>

</manifest>