<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 照相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".base.app.StudyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.june.studyproject.expand.thread.ThreadPoolActivity"
            android:exported="false" />
        <activity
            android:name=".component.service.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".component.activity.index.ExampleActivity"
            android:exported="false" />
        <activity
            android:name=".expand.image.box.ImageBoxListActivityBasic"
            android:exported="false" />
        <activity
            android:name=".component.activity.lifecycle.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".component.activity.lifecycle.LifecycleSecondActivity"
            android:exported="false" />
        <activity
            android:name=".expand.image.box.BoxImageActivityBasic"
            android:exported="false" />
        <activity
            android:name=".expand.image.box.ImageBoxActivity"
            android:exported="false" />
        <activity
            android:name=".component.fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".component.fragment.lifecycle.FragmentLifecycleActivity"
            android:exported="false" />

        <activity
            android:name=".expand.image.watcher.ImageWatchActivity"
            android:exported="false"
            android:theme="@style/TransparentStyleTheme" />
        <activity
            android:name=".component.recycler.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".component.recycler.custom.CustomLayoutManagerActivity"
            android:exported="false" />
        <activity
            android:name=".expand.image.box.ImageBoxLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".expand.image.watcher.ImageDragLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".component.recycler.ItemDecorationActivity"
            android:exported="false" />
        <activity
            android:name=".component.recycler.rvadapter.normal.NormalListActivity"
            android:exported="false" />
        <activity
            android:name=".component.recycler.rvadapter.RecyclerViewAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".library.okhttp.OkHttpActivity"
            android:exported="false" />
        <activity
            android:name=".library.okhttp.DownloadActivity"
            android:exported="false" />
        <activity
            android:name=".expand.zip.UnzipActivityBasic"
            android:exported="false" />
        <activity
            android:name=".component.permission.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".expand.loading.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".component.dialogfragment.DialogFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".component.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".component.recycler.rvadapter.custom.CustomMultiAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".expand.ExplosionActivity"
            android:exported="false" />
        <activity android:name=".expand.adaptation.DeviceInfoActivity" />

        <activity android:name=".expand.wallpaper.WallpaperActivity" />
        <activity android:name=".component.view.dispatch.ViewDispatchActivity" />
        <activity android:name=".component.view.ViewActivity" />

        <service
            android:name=".component.service.TestBindService"
            android:exported="false" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>